<beans:beans xmlns="http://www.springframework.org/schema/security"
             xmlns:beans="http://www.springframework.org/schema/beans"
             xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
             xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/security
    http://www.springframework.org/schema/security/spring-security.xsd">
    <!--    <http auto-config="true">-->
    <!--        <intercept-url pattern="/redirect" access="hasAnyRole('ROLE_ADMIN','ROLE_USER')" />-->
    <!--        <intercept-url pattern="/admin/*" access="hasRole('ROLE_ADMIN')" />-->
    <!--&lt;!&ndash;        <intercept-url pattern="/aApi/*" access="hasRole('ROLE_ADMIN')" />&ndash;&gt;-->
    <!--        <intercept-url pattern="/user/*" access="hasRole('ROLE_USER')" />-->

    <!--    </http>-->


    <http auto-config="true" use-expressions="true">
        <intercept-url pattern="/user/*" access="hasRole('ROLE_USER')"/>
        <intercept-url pattern="/admin/*" access="hasRole('ROLE_ADMIN')"/>
<!--        <intercept-url pattern="/allFoodMenu" access="hasRole('ROLE_ADMIN')"/>-->

        <form-login

                login-page="/login" default-target-url="/home"
                authentication-failure-url="/loginError"
                authentication-success-handler-ref="customSuccessHandler"
                login-processing-url="/loginOk"

                username-parameter="userName"
                password-parameter="password"
        />

        <csrf disabled="true" />
        <logout logout-url="/logout" logout-success-url="/logoutDone"
                invalidate-session="true"/>

    </http>


    <!--    <authentication-manager>-->
    <!--        <authentication-provider>-->
    <!--            <user-service>-->
    <!--                <user name="admin" password="{noop}root" authorities="ROLE_USER" />-->
    <!--            </user-service>-->
    <!--        </authentication-provider>-->
    <!--    </authentication-manager>-->

    <authentication-manager>
        <authentication-provider>
            <password-encoder hash="bcrypt"/>
            <jdbc-user-service data-source-ref="dataSource"
                               users-by-username-query="select userName,concat(password),1 from Admin where userName=?"

                               authorities-by-username-query="select userName,role from Admin where userName=?"/>

        </authentication-provider>
    </authentication-manager>
    <beans:import resource="spring-servlet.xml"/>

    <beans:import resource="spring-servlet.xml"/>
    <beans:bean class="omato.handler.CustomSuccessHandler" name="customSuccessHandler"/>
</beans:beans>